:root {
    --theme-light: rgb(255, 109, 199);
    --theme-dark: darkblue;
    --tranzish: all 0.44s ease-in-out;
}

* {
    background-color: rgb(217, 251, 251);
    font-family: 'Gill Sans MT', 'Arial', sans-serif;
}

/* Header styling */
/* -------------- */
#header-container {
    background-color: var(--theme-light);
    min-height: 90px;
    border-bottom: 1px solid var(--theme-dark);
    padding-top: 20px;
}

h1 {
    background-color: inherit;
    display: inline;
    color: rgb(9, 6, 56);
    font-family: 'Tahoma', sans-serif;
    font-size: 38px;
    border: 1px solid var(--theme-dark);
    border-radius: 10px;
    margin: 20px;
    padding: 12px;
}

nav {
    background-color: inherit;
    float: right;
    padding: 15px;
}

nav a {
    background-color: inherit;
    font-size: 22px;
    text-decoration: none;
    color: var(--theme-dark);
    padding: 0 20px;
}

nav a:hover {
    font-weight: 600;
}

#subhead-container {
    position: relative;
    border-bottom: 6px double var(--theme-dark);
    margin-bottom: 10px;
    display: flex;
}

#subhead-container img {
    width: 100%;
    height: auto;
}

h2 {
    position: absolute;
    bottom: 20px;
    right: 40px;
    background-color: var(--theme-dark);
    font-size: 32px;
    color: var(--theme-light);
    padding: 20px;
    border-radius: 10px;
}
/* ------------------ */
/* End header styling */


/* 'Main' styling */
/* -------------- */
main section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: 20px;
}

h3 {
    font-size: 30px;
    color: var(--theme-dark);
    border-right: 4px solid var(--theme-dark);
    grid-column: 1;
    text-align: right;
    padding: 10px;
}

/* Begin 'about me' section styling */
/* -------------------------------- */
#about-me p {
    font-size: 18px;
    padding: 10px;
    grid-column: 2 / 5;
    line-height: 1.5;
    letter-spacing: .02rem;
}
/* ----------------------------- */
/* End 'about me' section styling*/

/* Begin 'work' section styling */
/* ---------------------------- */
a img {
    border: 5px solid var(--theme-light);
    border-radius: 8px;
    margin: 10px;
}

#pic-link-container {
    grid-column: 2 / 5;
    display: flex;
    flex-wrap: wrap;
}

#pic-link-container a {
    position: relative;
}

/* Primary picture styling */
/* ----------------------- */
#primary-work {
    display: flex;
    margin: auto 8px;
}

#primary-work img {
    width: 100%;
    height: auto;
}

#primary-work .img-label {
    font-size: 26px;
    padding: 15px;
}

#primary-sublabel {
    font-size: 12px;
}

/* Secondary pictures styling */
/* This is not quite right!  */
/* ------------------------- */
#secondaries-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* .secondary-work {    I couldn't get this to work!
    display: flex;
    flex-wrap: wrap;
} */

.secondary-work img {
    max-width: 500px;
    height: auto;
}

.img-label {
    position: absolute;
    left: 10px;
    bottom: 40px;
    font-size: 18px;
    font-weight: 700;
    color: var(--theme-dark);
    padding: 10px;
    background-color: var(--theme-light);
}

p span {
    font-size: 10px;
    background-color: inherit;
}
/* ----------------------------- */
/* End of 'work' section styling */


/* Begin 'contact' section styling */
/* ------------------------------- */
#contact {
    position: relative;
    min-height: 80px;
}

#list-container {
    grid-column: 2 / 5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

#list-container li {
    display: inline;
    font-size: 20px;
    font-weight: 700;
    color: black;
    text-decoration: none;
    padding: 10px;
}

#list-container li a {
    text-decoration: none;
    color: black;
}

#list-container li a:hover {
    color: var(--theme-light);
}
/* ---------------------------- */
/* End 'contact' section styling*/

/* ------------------ */
/* End 'main' styling */


/* Footer styling */
/* -------------- */
footer {
    text-align: center;
    color: whitesmoke;
    background-image: linear-gradient(
        rgba(17, 6, 168, 0.4) 0%,
        rgba(17, 6, 168, 0.8) 100%
    );
    border-top: 1px dotted var(--theme-dark);
    font-size: 22px;
    padding: 25px 0;
}
/* ------------------ */
/* End footer styling */


/* Media queries */
/* ------------- */
@media screen and (max-width: 768px) {
    h3 {
        font-size: 20px;
        transition: var(--tranzish);
    }

    .secondary-work img {
        max-width: 300px;
        transition: var(--tranzish);
    }
}

@media screen and (max-width: 820px) {
    nav a {
        display: block;
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        text-decoration: underline;
        text-align: right;
        padding-bottom: 5px;
        transition: var(--tranzish);
    }

    nav a:hover {
        font-weight: 600;
    }

    #header-container {
        min-height: 150px;
    }

    #subhead-container {
        display: none;
    }

    #primary-work .img-label {
        font-size: 20px;
        padding: 10px;
        transition: var(--tranzish);
    }

    #list-container {
        flex-direction: column;
    }

    #list-container li {
        font-size: 12px;
        transition: var(--tranzish);
    }

}



