:root {
    --theme-light: plum;
    --theme-dark: darkblue;
}

* {
    background-color: lightcyan;
    font-family: 'Gill Sans MT', 'Arial', sans-serif;
}

/* Header styling */
/* -------------- */
#head-container {
    background-color: var(--theme-light);
    height: 90px;
    border-bottom: 1px solid var(--theme-dark);
    padding-top: 20px;
}

h1 {
    background-color: inherit;
    display: inline;
    color: rgb(9, 6, 56);
    font-family: 'Tahoma', sans-serif;
    font-size: 38px;
    padding: 25px;
}

nav {
    background-color: inherit;
    display: inline;
    float: right;
    padding: 15px;
}

nav a {
    background-color: inherit;
    font-size: 22px;
    text-decoration: none;
    color: var(--theme-dark);
    padding: 0 20px;
}

nav a:hover {
    font-weight: 600;
    cursor: pointer;
}

#subhead-container {
    position: relative;
    border-bottom: 2px solid var(--theme-dark);
    margin-bottom: 10px;
}

#subhead-container img {
    height: auto;
    width: 100%;
}

h2 {
    position: absolute;
    bottom: 20px;
    right: 40px;
    font-size: 32px;
    color: var(--theme-light);
    background-color: var(--theme-dark);
    padding: 20px;
}
/* ------------------ */
/* End header styling */

/* 'Main' styling */
/* -------------- */
main section {
    border: 1px solid black;
    margin-bottom: 300px;
}
/* ------------------ */
/* End 'main' styling */

/* Footer styling (to end) */
/* ----------------------- */
footer {
    text-align: center;
    color: var(--theme-dark);
    font-size: 28px;
    padding-bottom: 10px;
}


